img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

input {
	font-family: 'Roboto', sans-serif, !important;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.05em;
	color: #45444F;

	background: #FFFFFF;
	border: 1px solid #DDDEE8;
	box-sizing: border-box;
	border-radius: 6px;
	padding: 10px;

	width: 100%;
}

input:focus {
	transition-property: border;
	transition-duration: 0.5s;
	border: 1px solid #45444F;
}

input:blur {
	transition-property: border;
	transition-duration: 0.5s; /* This will happen after the hover state and can also be used for consistency on the overall experience */
	border: 1px solid #DDDEE8;
}

button {
	text-transform: uppercase;
	color: #DDDEE8;
	border-radius: 6px;
	font-family: 'Roboto', sans-serif, !important;
	font-style: normal;
	font-weight: 900;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.05em;
}

*:focus {
    outline: none;
}

.container {
	padding: 27px 33px 0px 32px;
}

.form-label {
	display: block !important;

	text-transform: uppercase;
	font-family: 'Roboto', sans-serif, !important;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.18em;
	margin-bottom: 10px;

	color: #45444F;
}

.form-control-group:after {
	content: ' ';
	display: block;
    clear: both;
}

.form-btn {
	width: 100%;
	height: 36px;
}

.blue-btn {
	background: #5575E5;
}

.red-btn {
	background: #DB4F58;
}

.grey-btn {
  background: #45444F;
}

#logo {
	text-transform: uppercase;
  font-family: 'Ramabhadra', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.195em;
	margin: 0;
	padding-bottom: 30px;

	color: #5575E5;
}

#icons {
	float: right;
}

#us-flag,
#jp-flag,
#sun-dark {
	padding: 10px 10px 30px 10px;
}

#divider {
	padding: 10px 20px 30px 20px;
}

#cb-paste {
	display: block;
	padding: 22px 0px 22px 0px;

	text-transform: uppercase;
	text-align: center;

	font-family: 'Roboto', sans-serif, !important;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.05em;
	text-decoration-line: underline;

	color: #45444F;
}

#ping {
	/* Rectangle 2 */
	color: #b4b5bf;
}